In [7]:
from google.colab import drive

In [8]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import numpy as numpy
import matplotlib.pyplot as plt  
import os
import pandas as pd

In [9]:
data = pd.read_csv('/content/drive/MyDrive/application_train.csv')

In [10]:
data.shape

(307511, 37)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 37 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   TARGET                       307511 non-null  int64
 1   NAME_CONTRACT_TYPE           307511 non-null  object
 2   CODE_GENDER                  307511 non-null  object
 3   FLAG_OWN_CAR                 307511 non-null  object
 4   FLAG_OWN_REALTY              307511 non-null  object
 5   CNT_CHILDREN                 307511 non-null  int64
 6   AMT_INCOME_TOTAL             307511 non-null  float64
 7   AMT_CREDIT                   307511 non-null  float64
 8   AMT_ANNUITY                  307499 non-null  float64
 9   NAME_INCOME_TYPE             307511 non-null  object
 10  NAME_EDUCATION_TYPE          307511 non-null  object
 11  NAME_FAMILY_STATUS           307511 non-null  object
 12  NAME_HOUSING_TYPE            307511 non-null  object
 13  DAYS_BIRTH                   307511 non-null  int64
 14  DAYS_EMPLOYED                307511 non-null  int64
 15  FLAG_MOBIL                   307511 non-null  int64
 16  FLAG_EMP_PHONE               307511 non-null  int64
 17  FLAG_WORK_PHONE              307511 non-null  int64
 18  FLAG_CONT_MOBILE             307511 non-null  int64
 19  FLAG_PHONE                   307511 non-null  int64
 20  CNT_FAM_MEMBERS              307509 non-null  float64
 21  REGION_RATING_CLIENT         307511 non-null  int64
 22  REGION_RATING_CLIENT_W_CITY  307511 non-null  int64
 23  REG_REGION_NOT_LIVE_REGION   307511 non-null  int64
 24  REG_REGION_NOT_WORK_REGION   307511 non-null  int64
 25  ORGANIZATION_TYPE            307511 non-null  object
 26  FLAG_DOCUMENT_2              307511 non-null  int64
 27  FLAG_DOCUMENT_3              307511 non-null  int64
 28  FLAG_DOCUMENT_4              307511 non-null  int64
 29  FLAG_DOCUMENT_5              307511 non-null  int64
 30  FLAG_DOCUMENT_6              307511 non-null  int64
 31  FLAG_DOCUMENT_7              307511 non-null  int64
 32  FLAG_DOCUMENT_8              307511 non-null  int64
 33  FLAG_DOCUMENT_9              307511 non-null  int64
 34  FLAG_DOCUMENT_10             307511 non-null  int64
 35  FLAG_DOCUMENT_11             307511 non-null  int64
 36  FLAG_DOCUMENT_12             307511 non-null  int64
dtypes: float64(4), int64(24), object(9)
memory usage: 86.8+ MB

In [12]:
data.duplicated().sum()

14

In [13]:
data.describe()

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,...,FLAG_DOCUMENT_3,FLAG_DOCUMENT_4,FLAG_DOCUMENT_5,FLAG_DOCUMENT_6,FLAG_DOCUMENT_7,FLAG_DOCUMENT_8,FLAG_DOCUMENT_9,FLAG_DOCUMENT_10,FLAG_DOCUMENT_11,FLAG_DOCUMENT_12
count,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000,307511.000000
mean,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,-16036.995067,63815.045904,0.999997,0.819889,0.199368,...,0.710023,0.000081,0.015115,0.088055,0.000192,0.081376,0.003896,0.000023,0.003912,0.000007
std,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,4363.988632,141275.766519,0.001803,0.384280,0.399526,...,0.453752,0.009016,0.122010,0.283376,0.013850,0.273412,0.062295,0.004771,0.062424,0.002550
min,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,-25229.000000,-17912.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,-19682.000000,-2760.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,-15750.000000,-1213.000000,1.000000,1.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,-12413.000000,-289.000000,1.000000,1.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,-7489.000000,365243.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000